@charset "utf-8";

body {
     text-align: left;
background-image:url(capa-netflix-narcos.webp);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 width: 600px;
 padding: auto;
 margin: auto;
 border-radius: 20px;
 box-shadow: 10px 10px 10px  rgba(17, 177, 226, 0.288);

}
 .basico{ color: black;}

h1{ text-align: center;
 color: rgba(22, 111, 194, 0.692);


}


.destaque {
    background-color: rgb(188, 188, 216);
}
h1#principal{ font-size: 50px;
color: rgb(226, 22, 53);
}
h2 { 
    text-align: center; 
     border-radius: 0px;
    box-shadow:  20px  20px 20px 20px rgba(4, 4, 26, 0.068);
color: rgb(17, 216, 83);

/* em html é id = em css # (so pode um elemento)
em html e class = css é ( pode varios elementos ) .*/
}
.intermediario { color: rgb(206, 20, 51);}
p{color: black;


}
h3{border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(75, 41, 14);
     font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(14, 110, 74);









}
h4{
    border-radius: 10px;
    box-shadow: 5px 5px 5px ;
   text-align: center;
    background-color: blue;
   color: aliceblue;
}
section#pablito {
    text-align: center;
    border-radius: 30px red;
     box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.493);
     background-color: rgba(11, 189, 70, 0.521);

}

section#p{
    border-radius: 10px;
    box-shadow: 5px 5px 5px ;
   text-align: center;
}
section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.096);
}

